.detail {
  margin-top: 2%;
}
.detail-item {
    flex-basis: calc(50% - 20px);
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.detail-img {
    margin-right: 8%;
    height: 400px;
}
.detail-pre{
    height: 400px;
    border: 1px solid #ccc;
}
.detail-chart{
    margin: 2% 18%;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detail-video{
    max-width: 1200px;
}
.author{
    text-align: left;
    margin-left: 18%;
    font-size: 2rem;
}
