.people-wrapper,
.pub-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16%;
  margin-top: 40px;
}
.people-list {
  width: 100%;
  display: flex;
}
.people-wrapper h2 {
  display: block;
  color: #000;
  font-size: 50px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
  margin: 30px 0;
}
.pub-wrapper h2 {
  display: block;
  color: #000;
  font-size: 50px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
  margin: 30px 0;
  
}
.pub-item {
  width: 100%;
  display: flex;
  margin: 4px 0;
}
.pub-info {
  flex: 1;
  margin-left: 20px;
  
}
.pub-info h4 {
  color: #000;
  font-size: 28px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
  margin: 4px 0;
}
.pub-info p {
  color: #333;
  font-weight: 400;
  font-size: 16px / 1.5;
  font-family: "freightsanslight", "Lato", "Helvetica Neue", Helvetica,
  Arial, sans-serif;;
  line-height: 28px;
  font-size: 20px;
  margin: 4px 0;
}
.pub-item img {
  height: 90px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.card-img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 4px auto;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1) inset;
}
.card-item {
  width: 170px;
  height: 200px;
  box-sizing: border-box;
  margin: 4px;
  display: inline-grid;
}
.card-item h4 {
  text-align: center;
  margin: 0;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 300;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card-item p {
  text-align: center;
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.yc {
  background-image: url("./img/yc.jpg");
  background-size: 100% auto;
}
.zy {
  background-image: url("./img/zy.png");
  background-size: 100% auto;
}
.gt {
  background-image: url("./img/gt.JPG");
  background-size: 100% auto;
}
.shy {
  background-image: url("./img/shy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bl {
  background-image: url("./img/bl.png");
  background-size: 100% auto;
}

.yhw {
  background-image: url("./img/yhw.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
