.teaser-container {
  width: 100%;
}
.teaser-pre {
  text-align: center;
  font-size: 46px;
  letter-spacing: 2px;
  color: #464553;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.teaser-top {
  width: 100%;
  text-align: center;
  padding: 2% 2% 1% 2%;
}
.teaser- bottom {
  padding: 2% 2%;
}
.teaser-Btn {
  display: flex;
  justify-content: space-around;
  padding: 2% 40% 0 40%;
}
.teaser-Btn :hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.teaserStartBtn {
  border: none;
  height: 60px;
  width: 140px;
  background-color: rgba(72, 121, 255, 0.874);
  color: #fff;
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.teaserTutorialBtn {
  background-color: #fff;
  border-color: rgba(70, 69, 83, 0.15);
  height: 60px;
  width: 140px;
  color: #464553;
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.teaser-text:hover{
  cursor:default
}
.teaser-img{
  width: 60%;
  object-fit: cover;
  border-radius: 8px;
}

#show-box {
  margin: 1% 20%;
}

.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* margin: 1% 15%; */
}
.show-item {
  /* flex-basis: calc(24%); */
  margin-bottom: 10px;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  /* position: relative; */
}